# Gradle  
.gradle/  
build/  
out/  
  
# ForgeGradle  
run/  
.forge/  
*.log  
  
# IDE  
.idea/  
*.iml  
*.ipr  
*.iws  
.vscode/  
.settings/  
.classpath  
.project  
bin/  
eclipse/  
  
# OS  
.DS_Store  
Thumbs.db

*.py